body{
    background-color: #F6F8F9;
    margin: 0;
}
header{
    background-color: white;
    margin: 0px;
}
.logo{
    margin-top: 12px;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 170px;
}
.top{
    margin-top: 30px;
    margin-left: 240px;
    margin-right: 290px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
}
.but{
    padding: 5px 15px;
    border-radius: 5px;
}
.but-primary{
    background-color: #14AAF5;
    border: none;
}
.but-secondary{
    background-color: white;
    border: 1px solid gray;
    color: gray;
}