body{
    background-color: #F6F8F9;
    margin: 0;
}
header{
    background-color: white;
    margin: 0px;
}
.logo{
    margin-top: 12px;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 170px;
}
.top{
    margin-top: 30px;
    margin-left: 240px;
    margin-right: 290px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    border-bottom: solid #F6F8F9 2px;
}
.but{
    padding: 5px 15px;
    border-radius: 5px;
}
.but-primary{
    background-color: #14AAF5;
    border: none;
}
.but-secondary{
    background-color: white;
    border: 1px solid gray;
    color: gray;
}
.list{
    margin-top: 0px;
    margin-left: 240px;
    margin-right: 290px;
    padding-left: 50px;
    padding-bottom: 5px;
    padding-top: 1px;
    background-color: white;
}
.list p{
    font-family: Arial, sans-serif;
    margin-top: 8px;
    margin-bottom: 8px;
}
.tab{
    list-style-type: none;
    padding-left: 0%;
    font-family: Arial, sans-serif;
    font-size: 13px;
}
.but-right-blu{
    padding: 4px 8px;
    border-radius: 10px;
    background-color:#09A9ED;
    border: none;
    color: white;
    font-size: 9px;
    font-family: Arial, sans-serif;
}
.check{
    border: 1px solid #2cc6ab;
    color: #2cc6ab;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
}
.but-right-vi{

    padding: 4px 8px;
    border-radius: 10px;
    background-color:#AB5DE6;
    border: none;
    color: white;
    font-size: 9px;
    font-family: Arial, sans-serif;
}
ul li{
    margin-top: 10px;
    margin-bottom: 10px;
}
.but-right-gr{

    padding: 4px 8px;
    border-radius: 10px;
    background-color:#2cc6ab;
    border: none;
    color: white;
    font-size: 9px;
    font-family: Arial, sans-serif;
}
.cross{
    border: 1px solid red;
    color: red;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
}
.but-right-ar{

    padding: 4px 8px;
    border-radius: 10px;
    background-color: #ff9b00;
    border: none;
    color: white;
    font-size: 9px;
    font-family: Arial, sans-serif;
}
.but-right-ro{
    padding: 4px 8px;
    border-radius: 10px;
    background-color: #ec4a9d;
    border: none;
    color: white;
    font-size: 9px;
    font-family: Arial, sans-serif;

}
.but-right-ver-chiaro{
    padding: 4px 8px;
    border-radius: 10px;
    background-color: #a3d116;
    border: none;
    color: white;
    font-size: 9px;
    font-family: Arial, sans-serif;
}